@import 'variables.scss';

.widget-grid {
  &__controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;

    .dashboard__filter {
      margin-right: 15px;
    }
  }

  .react-grid-layout {
    background-color: $grey-lightest-more;
    border-radius: $radius-medium;
  }

  .react-grid-item {
    background-color: $white;
    border-radius: $radius-medium;
    padding: 15px;
  }

  .widget {
    height: 100%;
    display: flex;
    flex-direction: column;

    &__header {
      &--has-header-content {
        margin-bottom: 20px;
      }

      &__title-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        &__title {
          cursor: move;
          margin-right: 15px;
          flex-shrink: 0;

          .subtitle {
            font-weight: $weight-normal;
            margin: 0;
          }
        }

        &__controls {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          flex-basis: 100%;

          &--left {
            margin-right: auto;
          }

          &--right {
            margin-left: auto;
          }

          &__menu-control {
            align-self: flex-start;

            &__icon {
              margin-left: 20px;
              width: 20px;
              height: 20px;
              fill: $grey-lightest;

              &:hover {
                fill: $grey-dark;
              }
            }

            .dropdown-menu {
              top: 25px;
            }
          }

          &__control {
            padding: 0.5em;
          }
        }

        &__filter {
          margin-right: 1em;
        }
      }
    }

    &__menu-controls {
      &__control {
        padding: 0.5em;
      }
    }

    &__content {
      overflow: auto;
      flex-basis: 100%;
    }
  }
}
